# Comment line immediately above ownership line is reserved for related gus information. Please be careful while editing.
#ECCN:Open Source
#GUSINFO:Spiff Commission Engine,Spiff Commission Engine
* @spiff-emu/developers
